// Reset de estilos
* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

// Colores
$color-primary: #adf485;
$color-secondary: #1a2d29;
$color-background: #ededed;
$color-whitetext: #fff;

// Fuentes
$font-family: "TTCommonsPro", sans-serif;
$base-font-size: 1.125rem;

// Estilos para párrafos
p {
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: normal;
  line-height: 160%;
}

// Variables para tamaños de encabezados
$h1-font-size: 4.5rem;
$h2-font-size: 3.5rem;
$h3-font-size: 48px;
$h4-font-size: 36px;
$border-radius: 15px;

// Estilos para encabezados
h1,
h2,
h3,
h4 {
  font-family: $font-family;
  font-weight: bold;
  line-height: 110%;
}

h1 {
  font-size: $h1-font-size;
}

h2 {
  font-size: $h2-font-size;
}

h3 {
  font-size: $h3-font-size;
}

h4 {
  font-size: $h4-font-size;
}

// List Styles
ul {
  font-family: $font-family;
  font-size: $base-font-size;
  font-weight: normal;

  // Anidamiento para listas
  li {
    display: inline-block;
    margin-right: 10px; // Puedes usar una variable si lo prefieres
  }

  // Uso de mixin para establecer el borde redondeado
  @mixin border-radius($radius) {
    border-radius: $radius;
  }

  // Aplicación del mixin al estilo de la lista
  @include border-radius(5px);
}

/*Boostrap Menu Styles*/

:root {
  --bs-body-font-family: "TTCommonsPro", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: white;
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: #adf485;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;

  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-nav {
  --bs-nav-link-padding-y: 1rem;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
}

.btn-success {
  --bs-btn-font-weight: bold;
  --bs-btn-color: #293e3a;
  --bs-btn-bg: #adf485;
}

.navbar-toggler {
  background-color: white;
}
