* {
  margin: 0;
  padding: 0;
  text-decoration: none;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  height: auto;
}

p {
  font-family: "TTCommonsPro", sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  line-height: 160%;
}

h1,
h2,
h3,
h4 {
  font-family: "TTCommonsPro", sans-serif;
  font-weight: bold;
  line-height: 110%;
}

h1 {
  font-size: 4.5rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 48px;
}

h4 {
  font-size: 36px;
}

ul {
  font-family: "TTCommonsPro", sans-serif;
  font-size: 1.125rem;
  font-weight: normal;
  border-radius: 5px;
}
ul li {
  display: inline-block;
  margin-right: 10px;
}

/*Boostrap Menu Styles*/
:root {
  --bs-body-font-family: "TTCommonsPro", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: white;
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: #adf485;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-nav {
  --bs-nav-link-padding-y: 1rem;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
}

.btn-success {
  --bs-btn-font-weight: bold;
  --bs-btn-color: #293e3a;
  --bs-btn-bg: #adf485;
}

.navbar-toggler {
  background-color: white;
}

.hero-content {
  padding: 20px 40px 0px 40px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.hero-container {
  background-color: #1a2d29;
}
.hero-container-grey {
  background-color: #f4f4f4;
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.hero-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;
}
.hero-heading h1 {
  color: white;
  font-size: 4.5rem;
  font-weight: bold;
  text-align: left;
  line-height: 110%;
}
.hero-heading p {
  font-family: "TTCommonsPro", sans-serif;
  font-weight: normal;
  font-size: 1.125rem;
  color: white;
  text-align: left;
}

.hero-image {
  max-width: 100%;
}

.card-image-top-banner {
  display: flex;
}

.download_CTA,
.button-style,
.button_menu_signup {
  display: block;
  border: none;
  border-radius: 15px;
  padding: 18px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: #adf485;
  /* Module04 (repeated selector) */
}
.download_CTA:hover,
.button-style:hover,
.button_menu_signup:hover {
  background-color: #93fd58;
}
.download_CTA:active,
.button-style:active,
.button_menu_signup:active {
  background-color: #f4f4f4;
}
.download_CTA .first-module-50 img,
.download_CTA .img-carousel img,
.download_CTA .one-card-img,
.download_CTA .meet-money img,
.download_CTA .img-carousel-mobile,
.download_CTA .brands-content img,
.button-style .first-module-50 img,
.button-style .img-carousel img,
.button-style .one-card-img,
.button-style .meet-money img,
.button-style .img-carousel-mobile,
.button-style .brands-content img,
.button_menu_signup .first-module-50 img,
.button_menu_signup .img-carousel img,
.button_menu_signup .one-card-img,
.button_menu_signup .meet-money img,
.button_menu_signup .img-carousel-mobile,
.button_menu_signup .brands-content img {
  max-width: 100%;
  height: auto;
}
.download_CTA .img-carousel,
.button-style .img-carousel,
.button_menu_signup .img-carousel {
  display: none;
  max-width: 100vw;
  height: auto;
}
.download_CTA .img-carousel-mobile,
.button-style .img-carousel-mobile,
.button_menu_signup .img-carousel-mobile {
  display: block;
  max-width: 100vw;
  height: auto;
}
.download_CTA .onecard-container,
.button-style .onecard-container,
.button_menu_signup .onecard-container {
  flex-direction: column;
  align-items: center;
}
.download_CTA .onecard-container .onecard-content,
.button-style .onecard-container .onecard-content,
.button_menu_signup .onecard-container .onecard-content {
  align-items: center;
  padding: auto;
}
.download_CTA .onecard-container .onecard-content h2,
.download_CTA .onecard-container .onecard-content p,
.button-style .onecard-container .onecard-content h2,
.button-style .onecard-container .onecard-content p,
.button_menu_signup .onecard-container .onecard-content h2,
.button_menu_signup .onecard-container .onecard-content p {
  text-align: center;
}
.download_CTA .bullets-money,
.button-style .bullets-money,
.button_menu_signup .bullets-money {
  display: flex;
  flex-direction: column;
}
.download_CTA .brands-content img,
.button-style .brands-content img,
.button_menu_signup .brands-content img {
  max-width: 100%;
  height: auto;
}

.global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 50px 50px 50px;
  gap: 20px;
}
.global-container p {
  color: #2d2d2d;
}
.global-container h2 {
  text-align: left;
}

.first-module-50 {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 50px 50px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}

.evolution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;
}
.evolution-container .evolution-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 715px;
  gap: 20px;
  padding-bottom: 40px;
}
.evolution-container .evolution-content p,
.evolution-container .evolution-content h2 {
  color: #2d2d2d;
  text-align: center;
}
.evolution-container .img-carousel,
.evolution-container .img-carousel-mobile {
  display: block;
  max-width: 100vw;
  height: auto;
}

.onecard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 0px 50px;
  background-color: #f0ffe8;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
}
.onecard-container .onecard-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 500px;
  gap: 30px;
  padding: 50px 50px 50px 50px;
}
.onecard-container .onecard-content h2 {
  text-align: left;
}
.onecard-container .onecard-content p h2 {
  color: #2d2d2d;
}
.onecard-container .onecard-container_button {
  background-color: #1a2d29;
  color: white;
  border: none;
  border-radius: 15px;
  padding: 18px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

.data_callout ul li {
  color: #2d2d2d;
}
.data_callout h2 {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #adf485;
  text-align: center;
}
.data_callout p {
  margin-top: 2px;
  margin-bottom: 2px;
  color: #2d2d2d;
  text-align: center;
}

.commission-container {
  background-color: #adf485;
  padding: 50px;
}
.commission-container h1 li {
  color: #1a2d29;
  text-align: center;
}

.meet-money {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;
}
.meet-money .money-title-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
.meet-money .money-title-content h2 {
  max-width: 500px;
  text-align: center;
}
.meet-money .money-title-content p {
  text-align: center;
}
.meet-money .bullets-money {
  display: flex;
  flex-direction: row;
  text-align: center;
  gap: 74px;
}
.meet-money .bullets-money .wallet-icon,
.meet-money .bullets-money .safety-icon,
.meet-money .bullets-money .factor-icon {
  max-width: 295px;
}

.brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px;
  background-color: #f4f4f4;
}
.brands-container .brands-content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 26px;
}
.brands-container .brands-content h2 {
  max-width: 500px;
  text-align: center;
}
.brands-container .brands-content p {
  max-width: 700px;
  text-align: center;
}

/* Footer */
.footer {
  background-color: #1a2d29;
  color: white;
  padding: 50px;
  gap: 1rem;
  display: grid;
  grid-template-columns: repeat(5, minmax 0, 1fr);
}
.footer p {
  color: white;
}

.footer-section, .button-footer,
.product-footer,
.solutions-footer,
.pricing-footer,
.ourteam-footer, .content-legal {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}
.footer-section li, .button-footer li,
.product-footer li,
.solutions-footer li,
.pricing-footer li,
.ourteam-footer li, .content-legal li {
  margin: 0 0 3rem 0;
}
.footer-section p, .button-footer p,
.product-footer p,
.solutions-footer p,
.pricing-footer p,
.ourteam-footer p, .content-legal p {
  margin: 0 0 2rem 0;
}

/* Legal Content */
.content-legal {
  grid-column: span 5;
}
.content-legal p {
  font-size: 13px;
}

/* Sections */
.button-footer,
.product-footer,
.solutions-footer,
.pricing-footer,
.ourteam-footer {
  grid-column: span 1;
  gap: 1rem;
}
.button-footer li,
.product-footer li,
.solutions-footer li,
.pricing-footer li,
.ourteam-footer li {
  display: block;
}

@media (max-width: 1200px) {
  .menu-container,
  .menu-buttons {
    display: none;
  }
  .banner-content {
    display: flex;
    align-items: center;
  }
  .hero-content {
    display: flex;
    flex-direction: column;
    padding: 20px 50px 0px 50px;
    background-color: #1a2d29;
  }
  .hero-content .hero-heading {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    padding-right: 20px;
  }
  .hero-content .hero-heading h1,
  .hero-content .hero-heading p {
    text-align: center;
  }
  .hero-content .hero-image img {
    max-width: 100%;
    height: auto;
  }
  .hero-content .first-module-50 {
    flex-direction: column-reverse;
    align-items: center;
  }
  .hero-content .global-container {
    align-items: center;
  }
  .hero-content .global-container h2,
  .hero-content .global-container p {
    text-align: center;
  }
  .hero-content .footer {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
  .hero-content .footer .button-footer,
  .hero-content .footer .product-footer,
  .hero-content .footer .solutions-footer,
  .hero-content .footer .pricing-footer,
  .hero-content .footer .ourteam-footer {
    grid-column-start: 1;
  }
  .hero-content .content-legal {
    grid-column-start: span 1;
  }
}
:root {
  --bs-body-font-family: "TTCommonsPro", sans-serif;
  --bs-body-font-size: 1rem;
  --bs-body-font-weight: 400;
}

.navbar {
  --bs-navbar-padding-x: 0;
  --bs-navbar-padding-y: 0.5rem;
  --bs-navbar-color: white;
  --bs-navbar-hover-color: rgba(var(--bs-emphasis-color-rgb), 0.8);
  --bs-navbar-disabled-color: white;
  --bs-navbar-active-color: #adf485;
  --bs-navbar-brand-padding-y: 0.3125rem;
  --bs-navbar-brand-margin-end: 1rem;
  --bs-navbar-toggler-border-color: rgba(var(--bs-emphasis-color-rgb), 0.15);
  --bs-navbar-toggler-border-radius: var(--bs-border-radius);
  --bs-navbar-toggler-focus-width: 0.25rem;
  --bs-navbar-toggler-transition: box-shadow 0.15s ease-in-out;
}

.navbar-nav {
  --bs-nav-link-padding-y: 1rem;
}

.btn-link {
  --bs-btn-font-weight: 400;
  --bs-btn-color: var(--bs-white);
  --bs-btn-bg: transparent;
  --bs-btn-border-color: transparent;
}

.btn-success {
  --bs-btn-font-weight: bold;
  --bs-btn-color: #293e3a;
  --bs-btn-bg: #adf485;
}

.navbar-toggler {
  background-color: white;
}

/*# sourceMappingURL=style.css.map */
