// _index.scss

.hero-content {
  padding: 40px 40px 0px 40px;
  max-width: 1400px;
  width: 100%;
  margin: auto;
}

.hero-container {
  background-color: $color-secondary;

  &-grey {
    background-color: $color-background;
  }
}

.banner-content {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  max-width: 50%;
  @include desktop {
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    max-width: 70%;
  }
}

.hero-heading {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-right: 20px;

  @include desktop {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  h1 {
    color: white;
    font-size: $h1-font-size;
    font-weight: bold;
    text-align: left;
    line-height: 110%;

    @include desktop {
      text-align: center;
      font-size: $h2-font-size;
    }
  }

  p {
    font-family: $font-family;
    font-weight: normal;
    font-size: $base-font-size;
    color: white;
    text-align: left;

    @include desktop {
      text-align: center;
    }
  }
}

.hero-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.card-image-top-banner {
  max-width: 100%;
  display: flex;
}

.download_CTA,
.button-style,
.button_menu_signup {
  display: block;
  border: none;
  border-radius: $border-radius;
  padding: 20px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
  background-color: $color-primary;

  &:hover {
    background-color: #93fd58;
  }

  &:active {
    background-color: $color-background;
  }

  .first-module-50 img,
  .img-carousel img,
  .one-card-img,
  .meet-money img,
  .img-carousel-mobile,
  .brands-content img {
    max-width: 100%;
    height: auto;
  }

  .img-carousel {
    display: none;
    max-width: 100vw;
    height: auto;
  }

  .img-carousel-mobile {
    display: block;
    max-width: 100vw;
    height: auto;
  }

  .onecard-container {
    flex-direction: column;
    align-items: center;

    .onecard-content {
      align-items: center;
      padding: auto;

      h2,
      p {
        text-align: center;
      }
    }
  }

  .bullets-money {
    display: flex;
    flex-direction: column;
  }

  /* Module04 (repeated selector) */
  .brands-content img {
    max-width: 100%;
    height: auto;
  }
}

// Global Container Styles
.global-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  padding: 50px 50px 50px 50px;
  gap: 20px;
  @include desktop {
    align-items: center;
    text-align: center;
  }

  p {
    color: #2d2d2d;
  }

  h2 {
    text-align: left;
    @include desktop {
      text-align: center;
    }
  }
}

.first-module-50 {
  display: flex;
  flex-direction: row;
  padding: 50px 50px 50px 50px;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;
  @include desktop {
    flex-direction: column-reverse;
    align-items: center;
  }
}

// Evolution Container Styles
.evolution-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-bottom: 80px;

  .evolution-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 715px;
    gap: 20px;
    padding-bottom: 40px;

    p,
    h2 {
      color: #2d2d2d;
      text-align: center;
    }
  }

  .img-carousel {
    display: block;
    max-width: 100vw;
    height: auto;
  }
}
.img-carousel-mobile {
  @include desktop {
    display: none;
  }
}

// Onecard Container Styles
.onecard-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 50px 50px 0px 50px;
  background-color: #f0ffe8;
  margin: 0 auto;
  max-width: 1400px;
  width: 100%;

  @include desktop {
    flex-direction: column;
    align-items: center;
  }

  .onecard-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    max-width: 500px;
    gap: 30px;
    padding: 50px 50px 50px 50px;
    @include desktop {
      align-items: center;
      text-align: center;
      padding: auto;
    }
  }

  h2 {
    text-align: left;
    @include desktop {
      text-align: center;
    }
  }

  p h2 {
    color: #2d2d2d;
    @include desktop {
      text-align: center;
    }
  }
}

.onecard-container_button {
  background-color: $color-secondary;
  color: white;
  border: none;
  border-radius: $border-radius;
  padding: 18px 42px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  font-weight: bold;
  cursor: pointer;
}

// Data Callout Styles
.data_callout {
  ul li {
    color: #2d2d2d;
  }

  h2 {
    margin-top: 2px;
    margin-bottom: 2px;
    color: $color-primary;
    text-align: center;
  }

  p {
    margin-top: 2px;
    margin-bottom: 2px;
    color: #2d2d2d;
    text-align: center;
  }
}

// Commission Container Styles
.commission-container {
  background-color: $color-primary;
  padding: 50px;

  h1 li {
    color: $color-secondary;
    text-align: center;
  }
}

// Meet Money Styles
.meet-money {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 60px;
  margin-bottom: 60px;

  .money-title-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;
    @include desktop {
      max-width: 90%;
    }

    h2 {
      max-width: 500px;
      text-align: center;
    }

    p {
      text-align: center;
    }
  }

  .bullets-money {
    display: flex;
    flex-direction: row;
    text-align: center;
    gap: 74px;

    @include desktop {
      @include desktop {
        display: flex;
        flex-direction: column;
      }
    }

    .wallet-icon,
    .safety-icon,
    .factor-icon {
      max-width: 295px;
    }
  }
}

// Logos - Partnership Styles
.brands-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  padding: 60px;
  background-color: $color-background;

  .brands-content {
    max-width: 800px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 26px;

    h2 {
      max-width: 500px;
      text-align: center;
    }

    p {
      max-width: 700px;
      text-align: center;
    }
  }
}
