/* Hero Pricing Banner */
.hero-banner-grid-pricing {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
  padding: 100px 50px 100px 50px;
  background-color: $color-background;
  gap: 20px;
  max-width: 1400px;
  width: 100%;
  margin: auto;

  @include desktop {
    display: flex;
    flex-direction: column;
  }

  .hero-heading-pricing {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 16px;
    max-width: 50%;

    @include desktop {
      align-items: center;
      max-width: 90%;
    }

    h1 {
      color: $color-secondary;
      font-size: 72px;
      font-weight: bold;
      text-align: left;
      line-height: 110%;

      @include desktop {
        text-align: center;
      }
    }

    p {
      font-family: "TTCommonsPro", sans-serif;
      font-weight: normal;
      font-size: 20px;
      color: $color-secondary;
      text-align: left;
      @include desktop {
        text-align: center;
      }
    }
  }

  .hero-image-pricing {
    display: flex;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
  }
  @include desktop {
    align-items: center;
    justify-content: center;
  }
}

/* Pricing Container */
.pricing-container {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 26px;
  padding: 40px;

  .button-pricing-onetime,
  .button-pricing-enterprise {
    background-color: $color-primary;
    color: $color-secondary;
    border: none;
    border-radius: 30px;
    padding: 18px 42px;
    text-align: center;
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
  }

  .pricing-buttons-style {
    display: flex;
    flex-direction: row;
    gap: 8px;
  }

  .pricing-card-module,
  .pricing-card-module-special {
    display: flex;
    flex-direction: column;
    width: 100%;
    gap: 20px;
    padding: 1rem;
    border-radius: 20px;

    &.pricing-card-module {
      background-color: $color-background;

      &.pricing-card-module-special {
        background-color: $color-secondary;

        .pricing-title-special h4 {
          background-color: $color-secondary;
          padding: 20px;
          border-radius: 20px;
        }

        h4,
        p {
          color: $color-secondary;
        }
      }
    }

    .button-style-secondary {
      border: none;
      border-radius: 15px;
      padding: 18px 42px;
      text-align: center;
      text-decoration: none;
      color: $color-secondary;
      display: inline-block;
      font-size: 16px;
      font-weight: bold;
      cursor: pointer;
      background-color: $color-primary;
    }
  }
}

.container-pricing-module {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1rem;
  border-radius: 20px;
  margin: 3rem auto 4rem auto;
  padding: 40px;
  max-width: 1400px;

  color: $color-secondary;
  background-color: $color-background;

  & > :nth-child(1) {
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 40px;
  }

  & > :nth-child(2) {
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 40px;
  }

  & > :nth-child(3) {
    color: white;
    border-radius: 20px;
    background-color: $color-secondary;
    padding: 40px;
  }

  & > :nth-child(4) {
    border-radius: 20px;
    background-color: #e2e2e2;
    padding: 40px;
  }

  @include desktop {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
  }
}
